Flask==1.0
Flask-Compress==1.4.0
gensim==3.2.0
joblib==0.11
numpy==1.14.1
requests==2.20.0
scikit-learn==0.19.1
scipy==1.0.0
urllib3==1.24.2
pyrocksdb==0.4

cython==0.27.3
pathlib==1.0.1
cymem==1.31.2
preshed==1.0.0
thinc==6.10.2
murmurhash==0.28
plac==0.9.6
ujson==5.2.0
dill==0.2.7.1
regex==2017.4.5
ftfy==5.0.0
pytest==3.4.1
mock==2.0.0
msgpack-python==0.5.4
msgpack-numpy==0.4.2
spacy==2.0.10
